{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="accesor">
    <img  src="/static/images/ac-1.avif" width="100%">

<div class="acces-text">
    <h3>ACCESSORIES YOU RIDE</h3>
    <button class="btn btn-light"> VIEW ALL</button>

</div>
</div>

<div class="acces-card">
    <div class="row" >
        <div class="col-md-3" style="padding: 95px;">
            <h3>Adventure</h3>
            <p></p>
            <p>Open up a world of adventure, with motorbikes built to go the distance, ready to go anywhere and take on anything.</p>
            <p></p>
            <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLECTION</button>

        </div>
        <div class="col-md-9 p-5 bikes" >
            <div class="col-md-3 ">
                  <div class="card  bike">
                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                    <div class="card-body">
                        <h3 class="card-title" style="height:20px ;">Card title</h3>
                        <h6>price</h6>
               
                        <p class="card-text">
                            <ul>
                                <li>1</li>
                                <li>2</li>
                                <li>3</li>
                            </ul>
                        </p>
                        <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                        <div class="acces-a">
                            <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                            <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                            <a href="#" style="color:black">VIEW DETAILS</a>
                        </div>

                    </div>
                  </div>
            </div>
        <div class="col-md-3">
                <div class="card bike">
                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                    <div class="card-body">
                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                      <h6>price</h6>
                   
                      <p class="card-text">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                      </p>
                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                      <div class="acces-a">
                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                        <a href="#" style="color:black">VIEW DETAILS</a>
                      </div>
    
                    </div>
                  </div>
                  
        </div>
        <div class="col-md-3">
                <div class="card bike">
                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                    <div class="card-body">
                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                      <h6>price</h6>
                   
                      <p class="card-text">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                      </p>
                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                      <div class="acces-a">
                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                        <a href="#" style="color:black">VIEW DETAILS</a>
                      </div>
    
                    </div>
                  </div>
        </div>
        <div class="col-md-3">
                <div class="card bike">
                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                    <div class="card-body">
                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                      <h6>price</h6>
                   
                      <p class="card-text">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                      </p>
                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                      <div class="acces-a">
                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                        <a href="#" style="color:black">VIEW DETAILS</a>
                      </div>
    
                    </div>
                  </div>
                  
        </div>
        <div class="col-md-3">
                <div class="card bike">
                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                    <div class="card-body">
                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                      <h6>price</h6>
                   
                      <p class="card-text">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul>
                      </p>
                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                      <div class="acces-a">
                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                        <a href="#" style="color:black">VIEW DETAILS</a>
                      </div>
    
                    </div>
                  </div>
                  
        </div>
       
              </div>
            
            </div>
      
        </div>
        <div class="acces-card">
            <div class="row" >
                <div class="col-md-3" style="padding: 95px;">
                    <h3>Adventure</h3>
                    <p></p>
                    <p>Open up a world of adventure, with motorbikes built to go the distance, ready to go anywhere and take on anything.</p>
                    <p></p>
                    <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLECTION</button>
        
                </div>
                <div class="col-md-9 p-5 bikes" >
                    <div class="col-md-3 ">
                          <div class="card  bike">
                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                            <div class="card-body">
                                <h3 class="card-title" style="height:20px ;">Card title</h3>
                                <h6>price</h6>
                       
                                <p class="card-text">
                                    <ul>
                                        <li>1</li>
                                        <li>2</li>
                                        <li>3</li>
                                    </ul>
                                </p>
                                <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                <div class="acces-a">
                                    <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                    <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                    <a href="#" style="color:black">VIEW DETAILS</a>
                                </div>
        
                            </div>
                          </div>
                    </div>
                <div class="col-md-3">
                        <div class="card bike">
                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                            <div class="card-body">
                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                              <h6>price</h6>
                           
                              <p class="card-text">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                              </p>
                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                              <div class="acces-a">
                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                <a href="#" style="color:black">VIEW DETAILS</a>
                              </div>
            
                            </div>
                          </div>
                          
                </div>
                <div class="col-md-3">
                        <div class="card bike">
                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                            <div class="card-body">
                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                              <h6>price</h6>
                           
                              <p class="card-text">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                              </p>
                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                              <div class="acces-a">
                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                <a href="#" style="color:black">VIEW DETAILS</a>
                              </div>
            
                            </div>
                          </div>
                </div>
                <div class="col-md-3">
                        <div class="card bike">
                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                            <div class="card-body">
                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                              <h6>price</h6>
                           
                              <p class="card-text">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                              </p>
                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                              <div class="acces-a">
                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                <a href="#" style="color:black">VIEW DETAILS</a>
                              </div>
            
                            </div>
                          </div>
                          
                </div>
                <div class="col-md-3">
                        <div class="card bike">
                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                            <div class="card-body">
                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                              <h6>price</h6>
                           
                              <p class="card-text">
                                <ul>
                                    <li>1</li>
                                    <li>2</li>
                                    <li>3</li>
                                </ul>
                              </p>
                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                              <div class="acces-a">
                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                <a href="#" style="color:black">VIEW DETAILS</a>
                              </div>
            
                            </div>
                          </div>
                          
                </div>
               
                      </div>
                    
                    </div>
              
                </div>
                <div class="acces-card">
                    <div class="row" >
                        <div class="col-md-3" style="padding: 95px;">
                            <h3>Adventure</h3>
                            <p></p>
                            <p>Open up a world of adventure, with motorbikes built to go the distance, ready to go anywhere and take on anything.</p>
                            <p></p>
                            <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLECTION</button>
                
                        </div>
                        <div class="col-md-9 p-5 bikes" >
                            <div class="col-md-3 ">
                                  <div class="card  bike">
                                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                    <div class="card-body">
                                        <h3 class="card-title" style="height:20px ;">Card title</h3>
                                        <h6>price</h6>
                               
                                        <p class="card-text">
                                            <ul>
                                                <li>1</li>
                                                <li>2</li>
                                                <li>3</li>
                                            </ul>
                                        </p>
                                        <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                        <div class="acces-a">
                                            <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                            <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                            <a href="#" style="color:black">VIEW DETAILS</a>
                                        </div>
                
                                    </div>
                                  </div>
                            </div>
                        <div class="col-md-3">
                                <div class="card bike">
                                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                    <div class="card-body">
                                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                                      <h6>price</h6>
                                   
                                      <p class="card-text">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                      </p>
                                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                      <div class="acces-a">
                                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                        <a href="#" style="color:black">VIEW DETAILS</a>
                                      </div>
                    
                                    </div>
                                  </div>
                                  
                        </div>
                        <div class="col-md-3">
                                <div class="card bike">
                                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                    <div class="card-body">
                                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                                      <h6>price</h6>
                                   
                                      <p class="card-text">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                      </p>
                                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                      <div class="acces-a">
                                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                        <a href="#" style="color:black">VIEW DETAILS</a>
                                      </div>
                    
                                    </div>
                                  </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card bike">
                                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                    <div class="card-body">
                                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                                      <h6>price</h6>
                                   
                                      <p class="card-text">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                      </p>
                                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                      <div class="acces-a">
                                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                        <a href="#" style="color:black">VIEW DETAILS</a>
                                      </div>
                    
                                    </div>
                                  </div>
                                  
                        </div>
                        <div class="col-md-3">
                                <div class="card bike">
                                    <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                    <div class="card-body">
                                      <h3 class="card-title" style="height:20px ;">Card title</h3>
                                      <h6>price</h6>
                                   
                                      <p class="card-text">
                                        <ul>
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                        </ul>
                                      </p>
                                      <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                      <div class="acces-a">
                                        <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                        <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                        <a href="#" style="color:black">VIEW DETAILS</a>
                                      </div>
                    
                                    </div>
                                  </div>
                                  
                        </div>
                       
                              </div>
                            
                            </div>
                      
                        </div>

















                        <div class="acces-card">
                            <div class="row" >
                                <div class="col-md-3" style="padding: 95px;">
                                    <h3>Adventure</h3>
                                    <p></p>
                                    <p>Open up a world of adventure, with motorbikes built to go the distance, ready to go anywhere and take on anything.</p>
                                    <p></p>
                                    <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLECTION</button>
                        
                                </div>


                                
                                {% for bike in  adv_bike %}
                                <div class="col-md-9 p-5 bikes" >
                                    <div class="col-md-3 ">
                                          <div class="card  bike">
                                            <img class="card-img-top" src="{{ bike.image.url }}" alt="Card image cap">
                                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                            <div class="card-body">
                                                <h3 class="card-title" style="height:20px ;">{{  bike.name }}</h3>
                                                <h6> ${{ bike.price }}</h6>
                                       
                                                <p class="card-text">
                                                    <ul>
                                                        <li>{{ bike.description1 }}</li>
                                                        <li>{{ bike.description2 }}</li>
                                                        <li>{{  bike.description3 }}</li>
                                                    </ul>
                                                </p>
                                                <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                                <div class="acces-a">
                                                    <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                                    <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                                    <a href="#" style="color:black">VIEW DETAILS</a>
                                                </div>
                        
                                            </div>
                                          </div>
                                    </div>
                                    {% endfor %}
                                <div class="col-md-3">
                                        <div class="card bike">
                                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                            <div class="card-body">
                                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                                              <h6>price</h6>
                                           
                                              <p class="card-text">
                                                <ul>
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                </ul>
                                              </p>
                                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                              <div class="acces-a">
                                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                                <a href="#" style="color:black">VIEW DETAILS</a>
                                              </div>
                            
                                            </div>
                                          </div>
                                          
                                </div>
                                <div class="col-md-3">
                                        <div class="card bike">
                                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                            <div class="card-body">
                                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                                              <h6>price</h6>
                                           
                                              <p class="card-text">
                                                <ul>
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                </ul>
                                              </p>
                                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                              <div class="acces-a">
                                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                                <a href="#" style="color:black">VIEW DETAILS</a>
                                              </div>
                            
                                            </div>
                                          </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="card bike">
                                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                            <div class="card-body">
                                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                                              <h6>price</h6>
                                           
                                              <p class="card-text">
                                                <ul>
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                </ul>
                                              </p>
                                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                              <div class="acces-a">
                                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                                <a href="#" style="color:black">VIEW DETAILS</a>
                                              </div>
                            
                                            </div>
                                          </div>
                                          
                                </div>
                                <div class="col-md-3">
                                        <div class="card bike">
                                            <img class="card-img-top" src="/static/images/tiger.avif" alt="Card image cap">
                                            <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                            <div class="card-body">
                                              <h3 class="card-title" style="height:20px ;">Card title</h3>
                                              <h6>price</h6>
                                           
                                              <p class="card-text">
                                                <ul>
                                                    <li>1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                </ul>
                                              </p>
                                              <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                              <div class="acces-a">
                                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                                <a href="#" style="color:black">VIEW DETAILS</a>
                                              </div>
                            
                                            </div>
                                          </div>
                                          
                                </div>
                               
                                      </div>
                                    
                                    </div>
                              
                                </div>

{% endblock %}