{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="accesor">
    <img  src="/static/images/ac-1.avif" width="100%">

<div class="acces-text">
    <h3>ACCESSORIES YOU RIDE</h3>
    <button class="btn btn-light"> VIEW ALL</button>

</div>
</div>



<div class="acces-card">
    <div class="row" >
        {% if adventure_cat %}
        <div class="col-md-3" style="padding: 95px;">
            <h3>
                {{ adventure_cat.name }}
            </h3>
            <p></p>
            <p>{{ adventure_cat.description }}</p>
            <p></p>
            <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLLECTION</button>
        </div>
    {% endif %}
    
        <div class="col-md-9 p-5 bikes" >
            <div class="col-md-3 ">
                  <div class="card  bike">
                    <img class="card-img-top" src="/static/images/T9.avif" alt="Card image cap">
                    <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                    <div class="card-body">
                        <h3 class="card-title" style="height:20px ;text-align: center; font-size: 20px;"><b>NEW TIGER 900 RANGE</b></h3>
                        <h6 style=" text-align: center;"><b>From POA</b></h6>
               
                        <p class="card-text" style= "height:150px ;" >
                           
                        </p>
                        <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                        <div class="acces-a">
                            <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                            <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                            <a href="{% url 'view_bike_details' %}" style="color:black">VIEW DETAILS</a>
                        </div>

                    </div>
                  </div>
            </div>
            {% for bike in  adv_bike %}
          
                <div class="col-md-3 ">
                      <div class="card  bike">
                        <img class="card-img-top" src="{{ bike.image.url }}" alt="Card image cap">
                        <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                        <div class="card-body">
                            <h3 class="card-title" style="height:20px ; text-align: center; font-size: 20px;"><b>{{  bike.name }}</b></h3>
                            <h6 style=" text-align: center;"> <b>${{ bike.price }}</b></h6>
                   
                            <p class="card-text"  >
                                <ul style= "height:140px ; list-style: none;">
                                    <li>{{ bike.description1 }}</li>
                                    <li>{{ bike.description2 }}</li>
                                    <li>{{  bike.description3 }}</li>
                                </ul>
                            </p>
                            <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                            <div class="acces-a">
                                <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                <a href="#" style="color:black">VIEW DETAILS</a>
                            </div>
    
                        </div>
                      </div>
                </div>
                {% endfor %}
       
              </div>
            
            </div>
      
        </div>
        <div class="acces-card">
            <div class="row" >
                {% if modern_cat %}
                <div class="col-md-3" style="padding: 95px;">
                    <h3>{{ modern_cat.name }}</h3>
                    <p></p>
                    <p>{{ modern_cat.description }}</p>
                    <p></p>
                    <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLECTION</button>
        
                </div>
                {% endif %}
                <div class="col-md-9 p-5 bikes" >
                  {% for bike in mod_bike %}
                  <div class="col-md-3 ">
                    <div class="card  bike">
                      <img class="card-img-top" src="{{ bike.image.url }}" alt="Card image cap">
                      <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                      <div class="card-body">
                          <h3 class="card-title" style="height:40px ; text-align: center; font-size: 20px;"><b>{{  bike.name }}</b></h3>
                          <h6 style=" text-align: center;"> <b>${{ bike.price }}</b></h6>
                 
                          <p class="card-text"  >
                              <ul style= "height:140px ;list-style: none;">
                                  <li>{{ bike.description1 }}</li>
                                  <li>{{ bike.description2 }}</li>
                                  <li>{{  bike.description3 }}</li>
                              </ul>
                          </p>
                          <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                          <div class="acces-a">
                              <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                              <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                              <a href="#" style="color:black">VIEW DETAILS</a>
                          </div>
  
                      </div>
                    </div>
              </div>
                    {% endfor %}
              
                      </div>
                    
                    </div>
              
                </div>
               
                    <div class="acces-card">
                        <div class="row" >
                            {% if road_cat %}
                            <div class="col-md-3" style="padding: 95px;">
                                <h3>
                                    {{ road_cat.name }}
                                </h3>
                                <p></p>
                                <p>{{ road_cat.description }}</p>
                                <p></p>
                                <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLLECTION</button>
                            </div>
                        {% endif %}
                
                
                      
                        <div class="col-md-9 p-5 bikes" >
                          {% for bike in road_bike %}
                          <div class="col-md-3 ">
                            <div class="card  bike">
                              <img class="card-img-top" src="{{ bike.image.url }}" alt="Card image cap">
                              <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                              <div class="card-body">
                                  <h3 class="card-title" style="height:40px ; text-align: center; font-size: 20px;"><b>{{  bike.name }}</b></h3>
                                  <h6 style=" text-align: center;"> <b>${{ bike.price }}</b></h6>
                         
                                  <p class="card-text"  >
                                      <ul style= "height:140px ;list-style: none;">
                                          <li>{{ bike.description1 }}</li>
                                          <li>{{ bike.description2 }}</li>
                                          <li>{{  bike.description3 }}</li>
                                      </ul>
                                  </p>
                                  <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                  <div class="acces-a">
                                      <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                      <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                      <a href="#" style="color:black">VIEW DETAILS</a>
                                  </div>
          
                              </div>
                            </div>
                      </div>
                            {% endfor %}
                       
                              </div>
                            
                            </div>
                      
                        </div>


                        <div class="acces-card">
                            <div class="row" >
                                {% if rocket_cat %}
                                <div class="col-md-3" style="padding: 95px;">
                                    <h3>{{rocket_cat.name}}</h3>
                                    <p></p>
                                    <p>{{ rocket_cat.description  }}</p>
                                    <p></p>
                                    <button class="btn btn-dark" style="background-color: black; color: white;">VIEW COLECTION</button>
                        
                                </div>

                                {% endif %}
                                
                             
                                <div class="col-md-9 p-5 bikes" >
                                  {% for bike in  rocket_bike %}
                                  <div class="col-md-3 ">
                                    <div class="card  bike">
                                      <img class="card-img-top" src="{{ bike.image.url }}" alt="Card image cap">
                                      <div style="height:2px;background-color:rgb(118, 118, 118);"></div>
                                      <div class="card-body">
                                          <h3 class="card-title" style="height:40px ; text-align: center; font-size: 20px;"><b>{{  bike.name }}</b></h3>
                                          <h6 style=" text-align: center;"> <b>${{ bike.price }}</b></h6>
                                 
                                          <p class="card-text"  >
                                              <ul style= "height:140px ;list-style: none;">
                                                  <li>{{ bike.description1 }}</li>
                                                  <li>{{ bike.description2 }}</li>
                                                  <li>{{  bike.description3 }}</li>
                                              </ul>
                                          </p>
                                          <div style="height:2px;background-color:rgb(118, 118, 118); width:287px;margin-left: -21px;/*! display: flex; *//*! margin: 0; */"></div>
                                          <div class="acces-a">
                                              <a href="#" style="color:rgb(249, 6, 6)">CONFIGURE</a>
                                              <div style="width:1px;background-color: rgb(117, 117, 117);margin-top: 7px;"></div>
                                              <a href="#" style="color:black">VIEW DETAILS</a>
                                          </div>
                  
                                      </div>
                                    </div>
                              </div>
                                    {% endfor %}
                               
                               
                                      </div>
                                    
                                    </div>
                              
                                </div>

{% endblock %}