{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0; z-index: 5;">
    <a class="navbar-brand" href="#" style="color:red;"><i>Moto2™</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MOTO' %}">Overview <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'engine' %}">ENGINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trophy' %}">TRIUMPH TRIPLE TROPHY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'testing' %}">TESTING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'calender' %}">CALENDAR</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          <a href="{% url 'view_bike_details' bike_name='STREET TRIPLE 765' %}" class="btn  btn-danger">STREET TRIPLE </a>
 
                </li></ul>
          </li>
      </form>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top:-70px;">
    
    <a class="home" style="margin-top:2cm ;" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
        <g transform=""><g fill="#efe6e6" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M16,2.59375l-0.71875,0.6875l-13,13l1.4375,1.4375l1.28125,-1.28125v11.5625h9v-10h4v10h9v-11.5625l1.28125,1.28125l1.4375,-1.4375l-13,-13zM16,5.4375l9,9v11.5625h-5v-10h-8v10h-5v-11.5625z"></path></g></g></g>
        </svg></a>
        <div style="left: 70px;position: relative;top: 80px; "><a href="{% url 'discover' %}" style="color: rgb(255, 255, 255);"> >  FOR THE RIDE ></a></div>
        <div style="left: 210px;position: relative;top: 55px; "><a href="{% url 'RACE' %}" style="color: rgb(255, 255, 255);"> >  RACING ></a></div>
        <div style="left: 310px;position: relative;top: 30px; "><a href="{% url 'MOTO' %}" style="color: rgb(253, 251, 251);"> >  Moto2™></a></div>

         <img src="/static/images/ENGINE.avif" width="1600px" height="700px">
    
        <div class="centerf" style="top: 75%;">
        <h3 style="color:white ;" class="h3">ENGINE </h3>
        
            
    </div>
</div>


<div class="engine_vedio" style="position: relative;margin-top: 1cm;margin-top: 2cm;margin-bottom: 2cm;left: 150px;/*! right: 150px; */">
    <iframe width="1200px" height="600px" src="https://www.youtube.com/embed/EKsb6btKQAg?autoplay=1&mute=1&controls=0&loop=1&playlist=EKsb6btKQAg"  frameborder="0" allow=" autoplay;  encrypted-media; gyroscope; " allowfullscreen></iframe>

</div>


<div class="moto-card" style="margin-bottom:2cm ;">
    <div class="row">
      <div class="col-md-6">
        <img src="/static/images/engine-card.avif" style="width: 710px;margin-left: 100px;height: 710px;">
        
      </div>
      <div class="col-md-6">
        <div style="padding-left:8cm;padding-top: 2cm;">
            <h3>EXCLUSIVE ENGINE SUPPLIER </h3>
          <p >The new Moto2™ engine is a race-developed 765cc Triple engine based on the powerplant from the class-leading Street Triple RS, with improvements that allow the engine to breathe more freely and rev harder than the production bike, and a peak power figure of more than 140PS.
          </p>
            
        </div>
      </div>
  </div>
  </div>

  <div class="engine-head" style="padding-left: 400px;padding-right: 400px; margin-bottom: 2cm;">
    <h3 style="text-align: center;font-size: xxx-large;font-weight: bold;">ENGINE COMPONENTS</h3>
    <p>Developed from Triumph’s class-leading 765cc Street Triple RS powerplant, there are a number of race modifications that have been made to the Moto2™ engine to directly enhance performance, including:</p>
  </div>

<div class="engine-drop " style="margin-bottom:4cm;margin-bottom: 5cm;">
    <div class="accordion" id="accordionPanelsStayOpenExample" style="background-color: white;padding: 100px;">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button style="width: 100%;
            text-align: left;
            background-color: #0e0f0f;
            color: aliceblue;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
              PERFORMANCE ENHANCEMENTS 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
            <div class="accordion-body">
              <h3 style="margin-top: 1cm;margin-bottom: 1cm;">
                PERFORMANCE ENHANCEMENTS </h3>
              <ul class="red-dot" style="line-height: 40px;">
                <li>Modified cylinder head with revised inlet and exhaust ports for optimised fuel flow</li>
                <li>Higher compression ratio</li>
                <li>Titanium valves and stiffer valve springs for increased rpms</li>
                <li>Low output race alternator kit for reduced inertia</li>
                <li>Revised 1st and 2nd gear ratios </li>
                <li>Race developed slipper clutch (which is tuneable)</li>
                <li>Specific race ECU, developed with Magneti Marelli</li>
                <li>Revised engine covers for reduced width</li>
                <li>Different sump for improved header run</li>
                <li>High performance coatings to key internal components</li>
              </ul>
        
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button style="width: 100%;
            text-align: left;
            background-color: #0e0f0f;
            color: aliceblue;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
              RACE ENGINE COMPONENTS 
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <h3 style="margin-top: 1cm;margin-bottom: 1cm;">
                RACE ENGINE COMPONENTS  </h3>
              <ul class="red-dot" style="line-height: 40px;">
                <li> RACE ENGINE COMPONENTS </li>
                <li>New crank</li>
                <li>New pistons</li>
                <li>New connecting rods and balancer shaft</li>
                <li>Nikasil plated aluminium barrels</li>
                <li>Revised gearbox</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="black-section" style="width:100%; margin-bottom: 2cm; height: 500px; background-color: #0e0f0f;">
  <div class="button-align"style="text-align: right;left: 1200px;position: re;position: relative;/*! margin-top: 4cm; */top: 4cm;">
    <div class="bg"></div>
    <div class="button">
      <audio id="audio" src="/static/images/audio.mp3" preload="auto"></audio>
      
      <a>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>start
      </a>
  </div></div>
  <div class="text-black" style="padding-left: 100px;padding-right: 900px;/*! margin-top: 120px; */padding-top: 80px;">
      <h3 style="color:white">Racing Revolution </h3>
      <p style="color: white;margin-top: 20px;margin-bottom: 50px;">Already renowned as one of the great sounds in motorcycling, Triumph’s 2019 765cc Moto2™ Triple engine is the result of a two-year engineering development program, with race-tuned modifications that deliver over 138 horsepower and provide greater Moto2™ performance levels than ever before... as well as this hair-raising soundtrack!</p>
      <p style="color:white"> Sound from: The MotoGP™19 videogame</p>
      <div class="black-symbools">
          <img src="/static/images/dark.png" style="width: 400px;">
          <p style="color:white"><img width="20px" height="20px" src="/static/images/speaker.png" alt="speaker"/> Turn up the volume and press the button </p>
      </div>
  </div>
  

</div>


<div class="moto-card">
  <div class="row">
    <div class="col-md-6">
      <div  style="padding:80px ;">
        <h3>ROLLING ROAD TESTING </h3>
      <p>

        Exclusive footage filmed at Triumph Motorcycles’ Hinckley, U.K. factory demonstrated the 2018 Moto2™ prototype in action on an early rolling road test.  
        </p>
      </div>
      
    </div>
    <div class="col-md-6">

      <iframe class="video__player" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" title="Moto2 Engine Rolling Road Shakedown Test (Turn your sound on!!)" width="100%" height="100%" src="https://www.youtube.com/embed/bBvPRpAiv7k?rel=0&amp;modestbranding=1&amp;showinfo=0&amp;iv_load_policy=3&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.triumphmotorcycles.in&amp;widgetid=3" id="widget4" data-gtm-yt-inspected-6754028_30="true" data-gtm-yt-inspected-29="true" data-gtm-yt-inspected-34="true" data-gtm-yt-inspected-6754028_3558="true"></iframe>
     
    </div>
  </div>
  </div>

  <div class="moto-card">
    <div class="row">
      <div class="col-md-6">
        <img src="/static/images/moto-card8.avif" style="width: 800px;margin-left: 100px;height: 500px;">
        
      </div>
      <div class="col-md-6">
        <div style="padding-left:8cm;padding-top: 2cm;">
          <h3> STREET TRIPLE 765 </h3>
          <p >Powered by Moto2™ race engine evolution, for the highest performance, highest specification and most agile Street Triple line-up ever.
          </p>
          <a href="{% url 'view_bike_details' bike_name='STREET TRIPLE 765' %}" class="btn btn-danger">DISCOVER MORE</a>

          <a href="{% url 'customize' %}" class="btn btn-dark" style="background-color: black; color: white;">VIEW DETAILS</a>
        </div>
      </div>
  </div>
  </div>

  <div class="foot" style="background-color: #dddad7;">
    <div class="sub" style="text-align: center; display: grid; justify-content: center;">
  
      <h3 >keep in touch</h3>
  
      <p>Submit your email address below and we'll keep you updated with new and relevant <br>Triumph motorcycle content directly to your inbox.</p>
  <div class="row" style="justify-content:center ;">
      <p style="text-align: center; flex-basis:100%; position: relative; left:-181px;">EMAIL</p>
      <form id="myForm">
      <input style="width: 11cm;height: 1cm;" type="email" id="email" name="email" placeholder="Enter the email address" required>
  </div>
  <div>
    <button class="rc_b" type="submit">KEEP ME INFORMED</button>

  </div>
  </form>
  </div>
  
  </div>

  <div class="black-section" style="width:100%; margin-bottom: 0; height: 500px; background-color: #0e0f0f;">
    <div class="e-icon">
      <img src="/static/images/insta.webp"style="/*! position: initial; */position: relative;top: 200px;left: 600px;">
      <h4 style="color: white;position: relative;top: 210px;left: 570px;">instagram</h4>
      <img src="/static/images/fb.png" style="/*! position: initial; */position: relative;top: 113px;left: 780px;">
      <h4 style="color: white;position: relative;top: 123px;left: 760px;">facebook</h4>
    </div>
  </div>
  {% endblock %}