<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="first">
                    <h4>
                    MOTORCYCLES    
                    </h4>
                    
                    <p>ADVENTURE</p>
                    <p>CLASSIC</p>
                    <p>ROADSTER</p>
                    <p>ROCKET-3</p>
                    <p>REVIEWS</p>
                    <p>OFFERS</p>
                    
                </div>


            </div>
            <div class="col-md-3 col-xs-12">
                <div  class="second">
                    <h4>GET STARTED</h4>
                    <p>CONFIGURE</p>
                    <p>BOOK NOW</p>
                    <p>FIND A DEALER</p>
                    <p>ENQUIRE NOW</p>

                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div  class="second">
                    <h4>FOR RIDE</h4>
                    <p>LATEST NEWS</p>
                    <p>FACTORY VISITOR EXPIRENCE</p>
                    

                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div  class="second">
                    <h4>OWNERS</h4>
                    <p>MY TRIUMPH APP</p>
                    <p>WHAT3WORDS</p>
                    <p><a href="#"><i class="fa-brands fa-youtube"></i></a></p>
                    <p>YOUR TRIUMPH</p>
                    

                </div>
            </div>
        </div>
    </div>
    

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="line"></div>
            <div class="second2">
                <a href="#" target="_blank"> <i class="fab fa-codepen fa-2x margin"></i></a>
                <a href="#" target="_blank"> <i class="fab fa-github fa-2x margin"></i></a>
                <a href="#" target="_blank"> <i class="fab fa-linkedin fa-2x margin"></i></a>
                <a href="#" target="_blank"><i class="fab fa-youtube fa-2x margin" ></i></a>

            </div>

        </div>
    </div>
    </div>
</div>


