{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0; z-index: 5;">
    <a class="navbar-brand" href="#" style="color:red;"><i>Moto2™</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MOTO' %}">Overview <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'engine' %}">ENGINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trophy' %}">TRIUMPH TRIPLE TROPHY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'testing' %}">TESTING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'calender' %}">CALENDAR</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
            <a href="{% url 'view_bike_details' bike_name='STREET TRIPLE 765' %}" class="btn  btn-danger">STREET TRIPLE </a>
 
                </li></ul>
          </li>
      </form>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top:-50px;">
    
    <a class="home" style="margin-top:2cm ;" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
        <g transform=""><g fill="#efe6e6" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M16,2.59375l-0.71875,0.6875l-13,13l1.4375,1.4375l1.28125,-1.28125v11.5625h9v-10h4v10h9v-11.5625l1.28125,1.28125l1.4375,-1.4375l-13,-13zM16,5.4375l9,9v11.5625h-5v-10h-8v10h-5v-11.5625z"></path></g></g></g>
        </svg></a>
        <div style="left: 70px;position: relative;top: 80px; "><a href="{% url 'discover' %}" style="color: rgb(255, 255, 255);"> >  FOR THE RIDE ></a></div>
        <div style="left: 210px;position: relative;top: 55px; "><a href="{% url 'RACE' %}" style="color: rgb(255, 255, 255);"> >  RACING ></a></div>

    <img src="/static/images/MOTO.avif" width="1600px" height="800px">
    
    <div class="centerf" style="top: 75%;">
        <h3 style="color:white ;" class="h3">Moto2™ </h3>
        
            
    </div>
</div>


<div class="moto-content" style="/*! margin-top: 3cm; *//*! margin-left: 8cm; *//*! margin-right: 8cm; *//*! margin-bottom: 3cm; *//*! padding: 4cm; */padding-left: 400px;padding-right: 400px;margin-top: 2cm;margin-bottom: 4cm;">
  <p style="line-height:20px ;">As the exclusive engine supplier to the FIM Moto2™ World Championship, Triumph Motorcycles provides all the teams with race-tuned 765cc triples, each of which is based on the class-leading Street Triple RS powerplant. With developments that allow the engine to breathe more freely, and rev harder, peak power output is more than 140PS (an increase of more than 17% over the production bike).

  <br>  Recognising the closeness of competition and the depth of talent in Moto2, Triumph and Dorna also run the Triumph Triple Trophy alongside the World Championship.
    
    <br> Recognising standout performances throughout each weekend, points are rewarded to riders setting the fastest top speed, pole position and the fastest lap of the race.  </p>
</div>

<div class="moto_tag" style="margin-bottom:2cm ;">
  <div class="moto_red_line"></div>
    <h1 style="position: relative;text-align: center;margin-top: -38px;font-size: 1.6cm;font-weight: bold;">2023 SEASON</h1>
</div>


<div class="moto-content"  style="/*! margin-top: 3cm; *//*! margin-left: 8cm; *//*! margin-right: 8cm; *//*! margin-bottom: 3cm; *//*! padding: 4cm; */padding-left: 400px;padding-right: 400px;margin-top: 2cm;margin-bottom: 4cm;">
  <p style="line-height:20px ;">The 2023 Moto2 season marks the start of Triumph's fifth season powering Moto2 as Exclusive Engine Supplier. During this time, the Triumph 765cc triple powerplant has redefined the category, setting lap record after lap record and helped supercharge the next generation of MotoGP superstars.

  <br>  With a number of developments made by Triumph to the 765cc triple, in 2023 the engines are now producing more power right through the rev range, all the way to a higher 14,400rpm limit (increased by 400rpm), to deliver better performance and acceleration.
    
    <br> More power and engine speed required stronger engine components, so pistons have a higher-grade material and rods, crank valves and springs are all new. Higher flow inlet ports and revised cam profiles enable an increased mixture flow into the combustion chambers and cylinder pressure and compression have been increased.  
  
  <br>All this gives the riders more when it comes to lines and race craft, leading to more opportunities for overtaking and even better racing.
</p>
</div>

<div class="moto_tag" style="margin-bottom:2cm ;">
  <div class="moto_red_line"></div>
    <h1 style="position: relative;text-align: center;margin-top: -38px;font-size: 1.6cm;font-weight: bold;">2022 SEASON</h1>
</div>

<div class="moto-card">
  <div class="row">
    <div class="col-md-6">
      <p style="padding:80px ;">The 2022 Moto2 season is proving to be the closest yet. At the halfway point, just two points separated the top three in the World Championship, and the top two in the Triumph Triple Trophy were split by just a single point.
<br>
        On the eve of the British Grand Prix, Triumph announced a raft of developments to the 765cc triple Moto2™ engine, derived from the production Street Triple RS, to increase revs, power and performance, promising to ensure the 765cc triple keeps redefining the category.</p>
    </div>
    <div class="col-md-6">

      <img src="/static/images/moto-card.avif" style="width: 800px;">
      
     
    </div>
  </div>
  <div class="row" style="margin-top:3cm ;">
    <div class="col-md-6">
      <img src="/static/images/moto-card1.avif" style="width: 800px;margin-left: 100px;height: 500px;">
      
    </div>
    <div class="col-md-6">
      <div style="padding-left:8cm;padding-top: 2cm;">
        <h3>TRIUMPH TRIPLE TROPHY </h3>
        <p >The 2022 Moto2 season is proving to be the closest yet. At the halfway point, just two points separated the top three in the World Championship, and the top two in the Triumph Triple Trophy were split by just a single point.
          <br>
                  On the eve of the British Grand Prix, Triumph announced a raft of developments to the 765cc triple Moto2™ engine, derived from the production Street Triple RS, to increase revs, power and performance, promising to ensure the 765cc triple keeps redefining the category.</p>
      
      </div>
    </div>
  </div>
</div>
<div class="moto_tag" style="margin-bottom:2cm ;">
  <div class="moto_red_line"></div>
    <h1 style="position: relative;text-align: center;margin-top: -38px;font-size: 1.6cm;font-weight: bold;">2021 SEASON</h1>
</div>

<div class="moto-card">
  <div class="row">
    <div class="col-md-6">
      <img src="/static/images/moto-card2.avif" style="width: 800px;margin-left: 100px;height: 500px;">
      
    </div>
    <div class="col-md-6">
      <div style="padding-left:8cm;padding-top: 2cm;">
        <p >The 2021 Moto2 World Championship season was another record-breaker. As the Triumph 765cc triple continued to redefine the class with another 16 new race lap and outright lap records, the remarkable Raul Fernandez set a new record of eight victories in a rookie season on his way to winning the Triumph Triple Trophy. In a show of gratitude, he gave the award of a custom-liveried Street Triple RS to his father in thanks for all he’s done to support Raul’s career.
          <br>
          After the third thrilling season of Moto2 powered by Triumph, it was Remy Gardner who took the 2021 World Championship crown at the last round by just four points.
      </div>
    </div>
</div>
</div>
<div class="moto_tag" style="margin-bottom:2cm ;">
  <div class="moto_red_line"></div>
    <h1 style="position: relative;text-align: center;margin-top: -38px;font-size: 1.6cm;font-weight: bold;">2020 SEASON</h1>
</div>

<div class="moto-card">
  <div class="row">
    <div class="col-md-6">
      <p style="padding:80px ;">Eight lap records were broken in 2020, with seven different Moto2™ Grand Prix winners. Eleven new outright circuit lap records set, smashing the benchmarks already redefined by Triumph 765cc triple power during 2019.
<br>
A new World Champion in Enea Bastianini, crowned from a title fight that went to the very last race of the season and where Luca Marini and Sam Lowes in second and third finished tied on points. Over 200,000 kilometres of flat-out racing over a condensed season of 15 rounds, 14 of which (with the exception of the opener in Qatar) were squeezed into just four relentless months</p>
    </div>
    <div class="col-md-6">

      <img src="/static/images/moto-card3.avif" style="width: 800px;">
      
     
    </div>
  </div>
  </div>

  <div class="moto_tag" style="margin-bottom:2cm ;">
    <div class="moto_red_line"></div>
      <h1 style="position: relative;text-align: center;margin-top: -38px;font-size: 1.6cm;font-weight: bold;">2019 SEASON</h1>
  </div>
  
  <div class="moto-card">
    <div class="row">
      <div class="col-md-6">
        <img src="/static/images/moto-card2.avif" style="width: 800px;margin-left: 100px;height: 500px;">
        
      </div>
      <div class="col-md-6">
        <div style="padding-left:8cm;padding-top: 2cm;">
          <p >Triumph’s inaugural year was a record-breaking debut: 16 circuit lap records and 18 circuit top speeds were claimed from the 19 races, as well as the first ever +300km/h Moto2™ top speeds. The Triumph 765cc triple powerplant redefined the class.
          </p>
            
        </div>
      </div>
  </div>
  </div>

  <div class="moto-card-carousel" style="margin-bottom: 2cm;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>

      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="/static/images/moto-slide.avif" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/static/images/moto-slide1.avif" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/static/images/moto-slide2.avif" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="/static/images/moto-slide4.avif" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="moto-card">
    <div class="row">
      <div class="col-md-6">
        <div  style="padding:80px ;">
          <h3>ENGINE </h3>
        <p>
  
           The Triumph-engineered 140PS+ race-tuned 765cc Triple engine exclusively powers the Moto2™ World Championship.
          </p>
          <a href="{% url 'engine' %}" class="btn btn-danger">DISCOVER MORE</a>

        </div>
        
      </div>
      <div class="col-md-6">
  
        <img src="/static/images/moto-card5.avif" style="width: 800px;">
        
       
      </div>
    </div>
    </div>
    <div class="moto-card">
      <div class="row">
        <div class="col-md-6">
          <img src="/static/images/moto-card6.avif" style="width: 800px;margin-left: 100px;height: 500px;">
          
        </div>
        <div class="col-md-6">
          <div style="padding-left:8cm;padding-top: 2cm;">
            <h3>TRIUMPH TRIPLE TROPHY</h3>
            <p >To celebrate the closeness of the competition in Moto2™, Triumph and Dorna run the ‘Triumph Triple Trophy #PoweredByTriumph’.
            </p>
            <a href="{% url 'trophy' %}" class="btn btn-danger">DISCOVER MORE</a>
 
          </div>
        </div>
    </div>
    </div>
    <div class="moto-card">
      <div class="row">
        <div class="col-md-6">
          <div  style="padding:80px ;">
            <h3>BREAKING RECORDS </h3>
          <p>
    
            In the first major change to the Moto2™ category since 2019, the Triumph 765cc triple engine continues to revolutionise the class:
            </p>
            <ul class="red-dot">
        <li>14 different race winners</li>
        <li>Lap records set at 34 GPs and counting, including records which have been broken and re-broken year-on-year</li>
        <li>The first ever 300+ km/h Moto2 top speed recorded at Mugello 2019.</li>
        <li>And a new 301.8 km/h all-time Moto2 speed record was set in Phillip Island</li>
        <li>Over 650,000 km of flat-out racing</li>
        
      </ul>


            
          </div>
        </div>
        <div class="col-md-6">
    
          <img src="/static/images/moto-card7.avif" style="width: 800px;">
          
         
        </div>
      </div>
      </div>
      <div class="moto-card">
        <div class="row">
          <div class="col-md-6">
            <img src="/static/images/moto-card8.avif" style="width: 800px;margin-left: 100px;height: 500px;">
            
          </div>
          <div class="col-md-6">
            <div style="padding-left:8cm;padding-top: 2cm;">
              <h3> STREET TRIPLE 765 </h3>
              <p >Powered by Moto2™ race engine evolution, for the highest performance, highest specification and most agile Street Triple line-up ever.
              </p>
              <a href="{% url 'view_bike_details' bike_name='STREET TRIPLE 765' %}" class="btn btn-danger">DISCOVER MORE</a>

              <a href="{% url 'customize' %}" class="btn btn-dark" style="background-color: black; color: white;">VIEW DETAILS</a>
 
            </div>
          </div>
      </div>
      </div>
      <div class="moto-card">
        <div class="row">
          <div class="col-md-6">
            <img src="/static/images/moto-card9.avif" style="width: 800px;margin-left: 100px;height: 500px;">
            
          </div>
          <div class="col-md-6">
            <div style="padding-left:8cm;padding-top: 2cm;">
              <h3>clothing collection </h3>
              <p >Celebrate Triumph being the exclusive engine supplier to all FIM Moto2™ World Championship teams with this range of authentic casual wear clothing.
              </p>
              
            </div>
          </div>
        </div>
      </div>
      
      <div class="foot" style="background-color: #dddad7;">
        <div class="sub" style="text-align: center; display: grid; justify-content: center;">
      
          <h3 >keep in touch</h3>
      
          <p>Submit your email address below and we'll keep you updated with new and relevant <br>Triumph motorcycle content directly to your inbox.</p>
      <div class="row" style="justify-content:center ;">
          <p style="text-align: center; flex-basis:100%; position: relative; left:-181px;">EMAIL</p>
          <form id="myForm">
          <input style="width: 11cm;height: 1cm;" type="email" id="email" name="email" placeholder="Enter the email address" required>
      </div>
      <div>
        <button class="rc_b" type="submit">KEEP ME INFORMED</button>

      </div>
      </form>
      </div>
      
      </div>
      
{% endblock %}