<nav class="navbar navbar-expand-lg navbar-dark"
style="background-color: black; ">
    <a class="navbar-brand" href="#"><img src="/static/images/logo.png" width="200" height="40"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
<div class="dropdown1">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white ;">
        MOTORCYCLES
      </a>
        <i class="fa fa-caret-down"></i>
      
      <div class="dropdown-content">
        
        <div class="row">
          <div class="column sn">
            <h3 > MOTORCYCLES</h3>
            <nav class="bike_list"> 
                  <ul>
                    <li class="drop-down-bike">
                      <a href="#">ADVENTURE</a>
                          <ul class="adventure-list">
                            <li  class="drop-down-bike-display" style="margin-bottom:50px ;">
            <a class="fmg" href="#">
                <div class="card mb-3 border-0 listc" >
                    <div class="row g-0">
                        <div class="col-md-4">
                          <img src="/static/images/tiger-small.avif" class="img-fluid-bike rounded-start" alt="..." >
                        </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title bikeName">New tiger 900 Range</h3>                                            
                        <p class="card-text"><small class="text-muted">price coming soon</small></p>                                      
                      </div>
                    </div>
                  </div>
                </div>
              </a>   
                            <ul class="adventure-info" style="margin-bottom:50px ;">
                                <li>
                                  <div class="card m-5 border-0 listc" style="width:900px">
                                    <div class="card-header" style="background-color:white ;font-size: 50px;font-weight: bold;color: #747474; text-align: left;">NEW TIGER 900 RANGE</div>
                                    <div class="row">
                                      <div class="col-md-4">
                                        <h5 class="card-titlegh" style="text-align:left ;"><b> Price Coming Soon</b></h5>
                                          <img src="/static/images/T.avif" class="card-img-bike" alt="...">
                                      </div>
                                      <div class="col-md-6" style="height:500px;  width:400px ">
                                        <div class="card-body" style="text-align:center;">
                                          <p><b>900</b> &nbsp; &nbsp; <small class="text-muted" >CC ENGINE</small></p>
                                          <p><b>108</b> &nbsp;<small class="text-muted">PS PEAK POWER</small></p>
                                          <p><b>90</b>&nbsp; <small class="text-muted">NM PEAK TORQUE</small></p>
                                          <p><b>50+</b>&nbsp; &nbsp; &nbsp;<small class="text-muted">ACCESSORIES</small></p>
                                    <div>
                                          <button  style="padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; background-color: #f40c0c; color: #ffffff; width:200px; margin-bottom: 4px;"> Customize</button>
                                    </div>
                                    <div>
                                          <button style="padding: 10px 20px; background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; width:200px;">VIEW DETAILS</button>
                                    </div>   
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                            </ul>
                         
                             
                            </li>
                            <li class="drop-down-bike-display" style="margin-bottom:50px ;">
                              <a href="#">
                              <div class="card mb-3 border-0 listc" >
                                <div class="row g-0">
                                    <div class="col-md-4">
                                      <img src="/static/images/T9.avif" class="img-fluid-bike rounded-start" alt="..." >
                                    </div>
                                <div class="col-md-8">
                                  <div class="card-body">
                                    <h3 class="card-title bikeName">TIGER 900</h3>                                            
                                    <p class="card-text" style="width:200px"><small class="text-muted">price from ₹13,70,000.00</small></p>                                      
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                          <ul class="adventure-info">
                            <li>
                              <div class="card m-5 border-0 listc" style="width:900px">
                                <div class="card-header" style="background-color:white ;font-size: 50px;font-weight: bold;color: #747474; text-align: left;"> TIGER 900 </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <h5 class="card-titlegh" style="text-align:left ;"><small> price from </small></h5>
                                    <h5 style="text-align:left ;"><b> ₹ 13,70,000.00 </b></h5>

                                      <img src="/static/images/T9B.avif" class="card-img-bike" alt="...">
                                  </div>
                                  <div class="col-md-6" style="height:500px;  width:400px ">
                                    <div class="card-body" style="text-align:center;">
                                      <p><b>900</b> &nbsp; &nbsp; <small class="text-muted" >CC ENGINE</small></p>
                                      <p><b>95</b> &nbsp;<small class="text-muted">PS PEAK POWER</small></p>
                                      <p><b>87</b>&nbsp; <small class="text-muted">NM PEAK TORQUE</small></p>
                                      <p><b>+65</b>&nbsp; &nbsp; &nbsp;<small class="text-muted">ACCESSORIES</small></p>
                                <div>
                                      <button  style="padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; background-color: #f40c0c; color: #ffffff; width:200px; margin-bottom: 4px;"> Customize</button>
                                </div>
                                <div>
                                      <button style="padding: 10px 20px; background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; width:200px;">VIEW DETAILS</button>
                                </div>   
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </li>
                        </ul>
                        </li>
                        <li class="drop-down-bike-display" style="margin-bottom:50px ;">
                          <a href="#">
                          <div class="card mb-3 border-0 listc" >
                            <div class="row g-0">
                                <div class="col-md-4">
                                  <img src="/static/images/T6.avif" class="img-fluid-bike rounded-start" alt="..." >
                                </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h3 class="card-title bikeName">TIGER SPORT 660</h3>                                            
                                <p class="card-text" style="width:200px"><small class="text-muted">price from ₹ 9,34,000.00</small></p>                                      
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      <ul class="adventure-info">
                        <li>
                          <div class="card m-5 border-0 listc" style="width:900px">
                            <div class="card-header" style="background-color:white ;font-size: 50px;font-weight: bold;color: #747474; text-align: left;"> TIGER SPORT 660 </div>
                            <div class="row">
                              <div class="col-md-4">
                                <h5 class="card-titlegh" style="text-align:left ;"><small> price from </small></h5>
                                <h5 style="text-align:left ;"><b> ₹ 9,34,000.00 </b></h5>

                                  <img src="/static/images/T6B.avif" class="card-img-bike" alt="...">
                              </div>
                              <div class="col-md-6" style="height:500px;  width:400px ">
                                <div class="card-body" style="text-align:center;">
                                  <p><b>660</b> &nbsp; &nbsp; <small class="text-muted" >CC ENGINE</small></p>
                                  <p><b>81</b> &nbsp;<small class="text-muted">PS PEAK POWER</small></p>
                                  <p><b>64</b>&nbsp; <small class="text-muted">NM PEAK TORQUE</small></p>
                                  <p><b>10,000</b>&nbsp; &nbsp; &nbsp;<small class="text-muted">MILE SERVICE</small></p>
                            <div>
                                  <button  style="padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; background-color: #f40c0c; color: #ffffff; width:200px; margin-bottom: 4px;"> Customize</button>
                            </div>
                            <div>
                                  <button style="padding: 10px 20px; background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; width:200px;">VIEW DETAILS</button>
                            </div>   
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                    </ul>
                    </li>
                    <li class="drop-down-bike-display" style="margin-bottom:50px ;">
                      <a href="#">
                      <div class="card mb-3 border-0 listc" >
                        <div class="row g-0">
                            <div class="col-md-4">
                              <img src="/static/images/T85.avif" class="img-fluid-bike rounded-start" alt="..." >
                            </div>
                        <div class="col-md-8">
                          <div class="card-body">
                            <h3 class="card-title bikeName">TIGER 850 SPORT</h3>                                            
                            <p class="card-text" style="width:200px"><small class="text-muted">price from ₹ 11,95,000.00</small></p>                                      
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                  <ul class="adventure-info">
                    <li>
                      <div class="card m-5 border-0 listc" style="width:900px">
                        <div class="card-header" style="background-color:white ;font-size: 50px;font-weight: bold;color: #747474; text-align: left;"> TIGER 850 SPORT </div>
                        <div class="row">
                          <div class="col-md-4">
                            <h5 class="card-titlegh" style="text-align:left ;"><small> price from </small></h5>
                            <h5 style="text-align:left ;"><b> ₹ 11,95,000.00 </b></h5>

                              <img src="/static/images/T85B.avif" class="card-img-bike" alt="...">
                          </div>
                          <div class="col-md-6" style="height:500px;  width:400px ">
                            <div class="card-body" style="text-align:center;">
                              <p><b>888</b> &nbsp; &nbsp; <small class="text-muted" >CC ENGINE</small></p>
                              <p><b>85</b> &nbsp;<small class="text-muted">PS PEAK POWER</small></p>
                              <p><b>82</b>&nbsp; <small class="text-muted">NM PEAK TORQUE</small></p>
                              <p><b>60+</b>&nbsp; &nbsp; &nbsp;<small class="text-muted">ACCESSORIES</small></p>
                        <div>
                              <button  style="padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; background-color: #f40c0c; color: #ffffff; width:200px; margin-bottom: 4px;"> Customize</button>
                        </div>
                        <div>
                              <button style="padding: 10px 20px; background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; width:200px;">VIEW DETAILS</button>
                        </div>   
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                </ul>
                </li>
                <li class="drop-down-bike-display" style="margin-bottom:50px ;">
                  <a href="#">
                  <div class="card mb-3 border-0 listc" >
                    <div class="row g-0">
                        <div class="col-md-4">
                          <img src="/static/images/T1200.avif" class="img-fluid-bike rounded-start" alt="..." >
                        </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h3 class="card-title bikeName">TIGER 1200</h3>                                            
                        <p class="card-text" style="width:200px"><small class="text-muted">price from ₹ 19,19,000.00</small></p>                                      
                      </div>
                    </div>
                  </div>
                </div>
              </a>
              <ul class="adventure-info">
                <li>
                  <div class="card m-5 border-0 listc" style="width:900px">
                    <div class="card-header" style="background-color:white ;font-size: 50px;font-weight: bold;color: #747474; text-align: left;"> TIGER 1200 </div>
                    <div class="row">
                      <div class="col-md-4">
                        <h5 class="card-titlegh" style="text-align:left ;"><small> price from </small></h5>
                        <h5 style="text-align:left ;"><b> ₹ 19,19,000.00 </b></h5>

                          <img src="/static/images/T1200B.avif" class="card-img-bike" alt="...">
                      </div>
                      <div class="col-md-6" style="height:500px;  width:400px ">
                        <div class="card-body" style="text-align:center;">
                          <p><b>1160</b> &nbsp; &nbsp; <small class="text-muted" >CC ENGINE</small></p>
                          <p><b>150</b> &nbsp;<small class="text-muted">PS PEAK POWER</small></p>
                          <p><b>130</b>&nbsp; <small class="text-muted">NM PEAK TORQUE</small></p>
                          <p><b>3</b>&nbsp; &nbsp; &nbsp;<small class="text-muted">YEAR WARRANTY</small></p>
                    <div>
                          <button  style="padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer; background-color: #f40c0c; color: #ffffff; width:200px; margin-bottom: 4px;"> Customize</button>
                    </div>
                    <div>
                          <button style="padding: 10px 20px; background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer; width:200px;">VIEW DETAILS</button>
                    </div>   
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
            </ul>
            </li>
                            
                          </ul>
                    </li>
                    <li class="drop-down-bike-1"><a href="#">MODEREN CLASSICS</a>
                      <ul class="modern-list">
                        <li>happy</li>
                      </ul>
                    </li>
                    <li><a href="#">ROCKET3</a></li>
                    <li><a href="#">STEALTH EDITION</a></li>
                    <li><a href="#">SPORTS</a></li>
                    <li><a href="#">CHROME COLLECTION</a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    




                  </ul>
            </nav>

            
          </div>
          <div class="column sn">

            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FINANCE & OFFERS
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 600px; ">
                <h3>FINANCE & OFFERS</h3>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">OFFERS</a>
                <a class="dropdown-item" href="#">FIND OUT MORE ></a>
                <div>
                  <img style="float: right" src="/static/images/finance.avif" width="300" height="500">
                </div>
              </div>
            </div>
           
          </div>
          
        </div>
      </div>
    </div>

    <div class="dropdown1">
      <a class="nav-link dropdown-toggle" href="{% url 'customize' %}" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">
        ACCESSORIES
      </a>
        <i class="fa fa-caret-down"></i>
      
      <div class="dropdown-content">
        
        <div class="row">
          <div class="column sn">
            <h3>  ACCESSORIES</h3>
            <div class="dropdown-divider"></div>
            <a href="#">Configurator</a>
            <a href="#">Triumph Genuine Luggage</a>
            <a href="#">Triumph Connectivity</a>
            <a href="#">Triumph Sena Bluetooth®</a>
            <a href="#">CUSTOMIZE YOUR RIDE ></a>
            
          </div>
          <div class="column sn">
            <h3>  LATEST MODELS</h3>
            <div class="dropdown-divider"></div>
            <a href="#">Daytona 660</a>
            <a href="#">Scrambler 400 X</a>
            <a href="#">Trident 660</a>
            <a href="#">Street Triple 765</a>
            <a href="#">Tiger 1200</a>
            <a href="#">Tiger Sport 660</a>
            <a href="#">Rocket 3</a>
            <a href="#">Speed Twin 900</a>
            <a href="#">CONFIGURE > </a>
            
          </div>
          <div class="column sn">
            <h3> QUICK LINKS</h3>
            <div class="dropdown-divider"></div>
            <a href="#">My Triumph App</a>
            <a href="#">Muc-Off</a>
            <a href="#">FIND A DEALER ></a>
            
            
          </div>
          <div class="column sn">
            <img src="/static/images/accesories.avif">
            <a href="#">CUSTOMIZE ></a>

          </div>
        </div>
      </div>
    </div>

    <div class="dropdown1">
      <a class="nav-link dropdown-toggle" href=" {% url 'clothes' %} " id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false" style="color: white;">
        CLOTHING
      </a>
        <i class="fa fa-caret-down"></i>
      
      <div class="dropdown-content">
        
        <div class="row">
          <div class="column sg">

            <img src="/static/images/cloth1.avif" height="200px" width="450px">
            <h3> RIDING ESSENTIALS</h3>
            <p>We know the importance of having the right kit for the elements. These packable riding essentials are always within easy reach.<p>

          </div>
          <div class="column sg">
            <img src="/static/images/cloth2.avif" height="200px" width="450px">
            <h3> CASUAL GEAR</h3>
            <p>Make a premium style statement with our heritage-inspired capsule collections.
              Motorcycle Gear</p>
          </div>
          <div class="column sg">
            <img src="/static/images/cloth3.avif" height="200px" width="450px">
            <h3> MotorcycleGear</h3>
            <p>Performance wear to complement every bike we build; developed alongside each model.</p>
            
            
          </div>
          <div class="column sg">
            <img src="/static/images/cloth4.avif" height="200px" width="450px">
            <h3> LIFESTYLE COLLECTION</h3>
            <p>Discover authentic, moto-influenced style. Our lifestyle collection is inspired by the ride and built to be lived in.</p>
            
            
          </div>
          
        </div>
      </div>
    </div>

    <div class="dropdown1">
      <a class="nav-link dropdown-toggle" href="{% url 'owner' %}" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false" style="color: white;">
        OWNER
      </a>
        <i class="fa fa-caret-down"></i>
      
      <div class="dropdown-content">
        
        <div class="row">
          <div class="column sng">
            <h3>  TOTAL CARE</h3>
            <div class="dropdown-divider"></div>
            <a href="#">Extended Warranty</a>
            <a href="#">Service Package</a>
            <a href="#">Roadside Assistance</a>
            <a href="#">
              Bike Health Check
              </a>
            <a href="#">Customer Promise></a>
            <a href="#">Genuine Parts</a>
          </div>
          <div class="column sng">
            <h3> YOUR TRIUMPH</h3>
            <div class="dropdown-divider"></div>
            <a href="#">
              Tyre Selector</a>
            <a href="#">Oil Recommendations</a>
            <a href="#">Warranty and Assistance</a>
            <a href="#">My Triumph App</a>
            <a href="#">what3words</a>
            <a href="#">FIND OUT MORE ></a>
           
            
          </div>
          <div class="column sng">
            <h3> QUICK LINKS</h3>
            <div class="dropdown-divider"></div>
            <a href="#">Recalls</a>
            <a href="#">Contact Us</a>
            <a href="#">FIND A DEALER ></a>
            
            
          </div>
          <div class="column sng">
            <img src="/static/images/owner1.avif">
            

          </div>
          <div class="column sng">
            <img src="/static/images/owner2.avif">
            

          </div>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
    <div class="dropdown1">
      <a class="nav-link dropdown-toggle" href="{% url 'discover' %}" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false" style="color: white;">
        DISCOVER
      </a>
        <i class="fa fa-caret-down"></i>  
      <div class="dropdown-content">
        <div class="row">
          <div class="column pp">
            <h3>  NEWS</h3>
            <div class="dropdown-divider"></div>
            <a href="#">Latest News</a>
            <a href="#">Motorcycles</a>
            <a href="#">Brand</a>
            <a href="#">Racing
              </a>
            <a href="#">Epic Adventures></a>
            <a href="#">OVERVIEW ></a>
          </div>
          <div class="column pp">
            <h3> RACING</h3>
            <div class="dropdown-divider"></div>
            <a href="#">
              Tyre Selector</a>
            <a href="#">
              Motocross and Enduro</a>
            <a href="#">MXGP</a>
            <a href="#">US RACING</a>
            <a href="#">Moto2™</a>
            <a href="#">PTR Triumph></a>
            <a href="#">OVERVIEW ></a>
           </div>
          <div class="column pp">
            <h3>BRAND</h3>
            <div class="dropdown-divider"></div>
            <a href="#">
              James Bond Partnership</a>
            <a href="#">Triumph & Gibson</a>
            <a href="#">Distinguished Gentleman's Ride ></a>
            <a href="#">Triumph and Breitling</a>
            <a href="#">120 Years Celebration</a>
            <a href="#">Timeline</a>
            <a href="#">OVERVIEW ></a>
          </div>
         <div class="column pp">
            <h3>EXPERIENCES</h3>
            <div class="dropdown-divider"></div>
            <a href="#">
              Factory Visitor Experience</a>
            <a href="#">Adventure Riding Experience</a>
            <a href="#">Distinguished Gentleman's Ride ></a>
            <a href="#">OVERVIEW ></a>  
          </div>
            <div class="column pp">
            <img src="/static/images/discover1.avif" height="400px">
              </div>
          <div class="column pp">
            <img src="/static/images/discover2.avif">
          </div>
          <div class="dropdown-divider"></div>
        </div>
      </div>
    </div>
      </ul>

      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item"> 
            <a class="nav-link" href="{% url 'dealer' %}" style="color: white;"> 
              Dealer
            </a> 
        </li> 
        <li class="nav-item"> 
            <a class="nav-link" href="{% url 'customize' %}" style="color: white;"> 
              Customize
            </a> 
        </li> 
        <li class="nav-item"> 
            <a class="nav-link" href="#" style="color: white;"> 
              Offers
            </a> 
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="#" style="color: white;"> 
            Book Now
          </a> 
      </li>
      <li class="nav-item">
        <div class="dropdown1">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                <img src="/static/images/ic.png" width="30" height="30">India
                <i class="fa fa-caret-down"></i>
            </a>
    
            <div class="dropdown-content" style="right: 0; width: 250px;">
                <div class="row">
                    <div class="column">
                        <h3>Select Your Region</h3>
                        <div class="btn-group dropright">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropright
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    
   
    

        
        
        
      
    
    
  </nav>
</head>
<body>