{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color:red;"><i>FOR THE RIDE</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Overview <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'news' %}">news</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Racing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Brand</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
            <button class="btn  btn-danger">KEEP INFORMED</button>
 
                </li></ul>
          </li>
      </form>
    </div>
  </nav>

<div class="container-fluid">
    <a class="home" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 32 32">
        <path d="M 16 2.59375 L 15.28125 3.28125 L 2.28125 16.28125 L 3.71875 17.71875 L 5 16.4375 L 5 28 L 14 28 L 14 18 L 18 18 L 18 28 L 27 28 L 27 16.4375 L 28.28125 17.71875 L 29.71875 16.28125 L 16.71875 3.28125 Z M 16 5.4375 L 25 14.4375 L 25 26 L 20 26 L 20 16 L 12 16 L 12 26 L 7 26 L 7 14.4375 Z"></path>
        </svg></a>
        <div style="left: 70px;position: relative;top: 40px; "><a href="{% url 'discover' %}" style="color: black;"> >  FOR THE RIDE ></a></div>
    <img src="/static/images/RACING.avif" width="1600px" height="800px">
    
    <div class="centerf">
        <h4>FOR THE RIDE</h4>
        <h3 style="color:white ;" class="h3">TRIUMPH RACING  </h3>
        <h4>Race winning. Record breaking. History making. </h4>
        
            
    </div>
</div>
<div class="race_card" style="margin-top: 2cm;margin-left: 2cm;margin-bottom: 2cm;">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/race-card.avif" style="height: 450px;" >
        </div>
        <div>
            <h2>Moto2™</h2>
        </div>
        <div>
            <p>The 2023 Moto2™ season marks the start of Triumph's fifth season powering Moto2 as Exclusive Engine Supplier.</p>
        </div>
        <div>
            <button class="btn btn-dark" style=" background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer;">DISCOVER MORE</button>
        </div>
    </div>
</div>
{% endblock %}