{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color:red;"><i>TRIUMPH RACING</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Overview <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'MOTO' %}">MOTO2™</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'PTR' %}">PTR TRIUMPH</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'MXGP' %}">MXGP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'US' %}">US RACING</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
            <a href="{% url 'racing' %}" class="btn  btn-danger">RACING NEWS</a>
 
                </li></ul>
          </li>
      </form>
    </div>
  </nav>

<div class="container-fluid" style="margin-top:-20px;">
    <a class="home" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 32 32">
        <path d="M 16 2.59375 L 15.28125 3.28125 L 2.28125 16.28125 L 3.71875 17.71875 L 5 16.4375 L 5 28 L 14 28 L 14 18 L 18 18 L 18 28 L 27 28 L 27 16.4375 L 28.28125 17.71875 L 29.71875 16.28125 L 16.71875 3.28125 Z M 16 5.4375 L 25 14.4375 L 25 26 L 20 26 L 20 16 L 12 16 L 12 26 L 7 26 L 7 14.4375 Z"></path>
        </svg></a>
        <div style="left: 70px;position: relative;top: 40px; "><a href="{% url 'discover' %}" style="color: black;"> >  FOR THE RIDE ></a></div>
    <img src="/static/images/RACING.avif" width="1600px" height="800px">
    
    <div class="centerf">
        <h4>FOR THE RIDE</h4>
        <h3 style="color:white ;" class="h3">TRIUMPH RACING  </h3>
        <h4>Race winning. Record breaking. History making. </h4>
        
            
    </div>
</div>
<div class="race_card" style="margin-top: 2cm;margin-left: 2cm;margin-bottom: 2cm;">
    <div class="row">
        <div class="col-md-6">
            <img src="/static/images/race-card.avif" style="height: 450px;" >
        
        <div>
            <h2>Moto2™</h2>
        </div>
        <div>
            <p>The 2023 Moto2™ season marks the start of Triumph's fifth season powering Moto2 as Exclusive Engine Supplier.</p>
        </div>
        <div>
            <a href="{% url 'MOTO'  %}" class="btn btn-dark" style=" background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer;">DISCOVER MORE</a>
        </div>

    </div>
    <div class="col-md-6">
      <img src="/static/images/rac_card.avif" style="height: 450px;" >
  
  <div>
      <h2>PTR TRIUMPH</h2>
  </div>
  <div>
      <p>The FIM Supersport World Championship is a production-based series that is widely acknowledged as an ideal platform for emerging talent on the world stage.</p>
  </div>
  <div>
    <a href="{% url 'PTR'  %}" class="btn btn-dark" style=" background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer;">DISCOVER MORE</a>

  </div>

</div>
</div>

<div class="row" style="padding-top: 2cm;">
  <div class="col-md-6">
      <img src="/static/images/rac_card1.jpg" style="height: 450px;" >
  
  <div>
      <h2>US RACING</h2>
  </div>
  <div>
      <p>Triumph Racing will launch its assault on the SuperMotocross World Championship in 2024 with a two-rider line-up in the 250cc category. With AMA Supercross’ 17 rounds, including eight rounds for 250cc racers, combined with the AMA Pro Motocross ‘outdoor’ championship plus two ‘play-offs’ and a final, it is one of the most intense racing series on the planet. </p>
  </div>
  <div>
    <a href="{% url 'US'  %}" class="btn btn-dark" style=" background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer;">DISCOVER MORE</a>

  </div>

</div>
<div class="col-md-6">
<img src="/static/images/rac_card2.avif" style="height: 450px;" >

<div>
<h2>MXGP</h2>
</div>
<div>
<p>The FIM MXGP Motocross World Championship takes place over 19-rounds on all types of terrain from sand to hard-pack. The series, which allows full-factory machinery, enjoys some of the most competitive racing in the world from Belgium to Indonesia, Argentina to Italy. Triumph Racing will enter the 250cc MX2 category in 2024 with a two-rider team.</p>
</div>
<div>
  <a href="{% url 'MXGP'  %}" class="btn btn-dark" style=" background-color: #070707; color: #ffffff; border: none; border-radius: 5px; cursor: pointer;">DISCOVER MORE</a>

</div>

</div>
</div>
</div>
<div  style="padding: 40px;row-gap: 2cm;display: grid;">
  <div class="row">
      <div class="col-sm-4 " style="overflow:hidden ;" >
          <div class="imgh" style="padding-bottom: 20px;">
              <img  src="/static/images/nc.avif" style="height:350px; width:450px;"alt="Card image cap" >

          </div>
          <div>
              <h7>Racing | 1st Dec 2023</h7>

              <div onMouseOver="this.style.color='red'"
              onMouseOut="this.style.color='black'">
                <h4>PEDRO ACOSTA WINS THE 2023 TRIUMPH TRIPLE TROPHY​
              </h4></div>
          </div>

      </div>
      <div class="col-sm-4 " style="overflow:hidden ;" >
          <div class="imgh" style="padding-bottom: 20px;">
              <img  src="/static/images/nc1.avif" style="height:350px; width:450px;"alt="Card image cap" >

          </div>
          <div>
              <h7>Epic Adventures | 15th Nov 2023
              </h7>

              <div onMouseOver="this.style.color='red'"
              onMouseOut="this.style.color='black'">
                <h4>TRIUMPH UNLEASHES THE TIGER 1200 RALLY PRO RANGE IN AUSTRALIA
              </h4></div>
          </div>

      </div>
      <div class="col-sm-4 " style="overflow:hidden ;" >
          <div class="imgh" style="padding-bottom: 20px;">
              <img  src="/static/images/nc2.avif" style="height:350px; width:450px;"alt="Card image cap" >

          </div>
          <div>
              <h7>Racing | 9th Nov 2023

              </h7>

              <div onMouseOver="this.style.color='red'"
              onMouseOut="this.style.color='black'">
                <h4>MONSTER ENERGY TRIUMPH RACING RIDERS REVEALED
              </h4></div>
          </div>

      </div>
  </div>
<div class="caro-head">
  <div>
   <h1 style="text-align: center;"> race winning. record breaking. history making.</h1>
  </div>
  
  </div>
</div>

<div class="caro-d" style="margin:2cm ;">
  
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
    
    <ol class="carousel-indicators" style="bottom:28.5cm ; position:absolute;right: 3cm; left:3cm">
      <div style="margin-right: 2cm;">      
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="display:contents;"> landspeed
      </div>
      </li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1" style="display:contents;">DAYTONA 200</li>
      <div style="margin-left: 2cm; margin-right:2cm;">      
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="display:contents;"> ISLE OF MAN TT
      </div>
      </li>
      
      <li data-target="#carouselExampleIndicators" data-slide-to="1" style="display:contents;">TRACK SUPER SPORTS</li>
      
    </ol>
    <div class="carousel-inner" >
      <div class="carousel-item active" style="background-color:white ;">
        <div class="row">
          <div class="col-md-6">
            <img class="d-block w-100 imgh" src="/static/images/rac-slide.avif" alt="First slide" style="height: 700px;width: 600px;">
             <div class="imtext">
              <h3 style="/*! display: grid; */position: absolute;/*! bottom: ; */top: 1.5cm;padding: 6.8cm; color:white;">LANDSPEED</h3>
               </div>
                </div>
        
        <div class="col-md-6">
          <img class="d-block w-100 imgh" src="/static/images/race-slide1.avif" alt="Second slide" style="margin-top: 4cm;">
          <div class="imtext">
            <h3 style="/*! display: grid; */position: absolute;/*! bottom: ; */top: 2.8cm;padding: 6cm; color:white;">ISLE OF MAN TT</h3>
          </div>
        </div>
        </div>
      </div>
      <div class="carousel-item" style="background-color:white ;">
        <div class="row">
          <div class="col-md-6">
            <img class="d-block w-100 imgh" src="/static/images/race-slide2.avif" alt="Third slide" style="height: 700px;width: 600px;">
            <div class="imtext">
              <h3 style="/*! display: grid; */position: absolute;/*! bottom: ; */top: 1.5cm;padding: 6.8cm; color:white;">DAYTONA 200</h3>
            </div>
          </div>
                
                <div class="col-md-6">
                  <img class="d-block w-100 imgh" src="/static/images/race-slide3.avif" alt="Fourth slide" style="margin-top: 4cm;">
                  <div class="imtext">
                    <h3 style="/*! display: grid; */position: absolute;/*! bottom: ; */top: 1.5cm;padding: 6.8cm; color:white;">TRACK SUPERSPOT</h3>
                  </div>
                </div>
        </div>

        </div>
        
      
       
    
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="foot" style="background-color:white;">
  <div class="sub" style="text-align: center; display: grid; justify-content: center;">

    <h3 >keep in touch</h3>

    <p>Submit your email address below and we'll keep you updated with new and relevant <br>Triumph motorcycle content directly to your inbox.</p>
<div class="row" style="justify-content:center ;">
    <p style="text-align: center; flex-basis:100%; position: relative; left:-181px;">EMAIL</p>
    <form id="myForm">
    <input style="width: 11cm;height: 1cm;" type="email" id="email" name="email" placeholder="Enter the email address" required>
</div>
<div>
  <button class="rc_b" type="submit">KEEP ME INFORMED</button>
</div>
</form>
</div>

</div>

{% endblock %}