{% extends 'base.html' %}
{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position:sticky; top:0; z-index: 5;">
    <a class="navbar-brand" href="#" style="color:red;"><i>Moto2™</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'MOTO' %}">Overview <span class="sr-only"></span></a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'engine' %}">ENGINE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trophy' %}">TRIUMPH TRIPLE TROPHY</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'testing' %}">TESTING</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'calender' %}">CALENDAR</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav ml-auto"> 
        <li class="nav-item">
          <a href="{% url 'view_bike_details' bike_name='STREET TRIPLE 765' %}" class="btn  btn-danger">STREET TRIPLE </a>
 
                </li></ul>
          </li>
      </form>
    </div>
  </nav>

  <div class="container-fluid" style="margin-top:-70px;">
    
    <a class="home" style="margin-top:2cm ;" href="{% url 'home' %}"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0,0,256,256">
        <g transform=""><g fill="#efe6e6" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(8,8)"><path d="M16,2.59375l-0.71875,0.6875l-13,13l1.4375,1.4375l1.28125,-1.28125v11.5625h9v-10h4v10h9v-11.5625l1.28125,1.28125l1.4375,-1.4375l-13,-13zM16,5.4375l9,9v11.5625h-5v-10h-8v10h-5v-11.5625z"></path></g></g></g>
        </svg></a>
        <div style="left: 70px;position: relative;top: 80px; "><a href="{% url 'discover' %}" style="color: rgb(255, 255, 255);"> >  FOR THE RIDE ></a></div>
        <div style="left: 210px;position: relative;top: 55px; "><a href="{% url 'RACE' %}" style="color: rgb(255, 255, 255);"> >  RACING ></a></div>
        <div style="left: 310px;position: relative;top: 30px; "><a href="{% url 'MOTO' %}" style="color: rgb(253, 251, 251);"> >  Moto2™></a></div>

         <img src="/static/images/testing.avif" width="1536px" height="700px">
    
        <div class="centerf" style="top: 75%; width: 1200px;">
        <h3 style="color:white ;" class="h3">
            TESTING
         </h3>
        
            
    </div>
</div>

<div class="test">
    <h4 style="font-weight:bold">
        TESTING THE NEW Moto2™ ENGINE
    </h4>
    <p></p>
    <p>Development for the Triumph Moto2™ engine prototype began in 2017.</p>
    <p></p>
    <p>Taken from the class-leading Street Triple RS, the 765cc prototype engine was subjected to an extensive factory development programme at Triumph Motorcycles’ Hinckley headquarters, before heading out for its first track test at MotorLand Aragón in Alcañiz, Spain, back in August 2017.</p>
    <p></p>
    <p>Exhaustive collaborative testing and development was key to the resounding success of the Triumph Moto2™ prototype and here we share several insights into one of the most exciting developments in the world of racing!</p>
</div>

<div class="pic-test">
    <img src="/static/images/testing1.avif" style="/*! height: 736px; *//*! width: 736px; */display: flex;/*! align-content: center; */padding: 80px;">
</div>


<div class="test">
  <h4 style="font-weight:bold">
    NOT RESTING ON LAURELS 
  </h4>
  <p></p>
  <p>At the end of Triumph’s debut season in 2019, the development work continued in earnest, with the benefit of a year’s worth of data. Working hard over the off-season, Triumph’s testing focused on using the data acquired and optimising every individual component.</p>
  <p></p>
  <p>From this the team focused improvements to dimensions and tolerances which allowed Triumph to soften the over-rev limit on downshifting for 2020. Combined with the benefit to the teams of now having two years’ worth of data using Triumph engines, the 2021 season is proving to be even faster and with even closer racing.

  </p>
  <p></p>
  
</div>

<div class="test">
  <h4 style="font-weight:bold">
    TESTING ON THE JOB – THE FIRST SEASON
  </h4>
  <p></p>
  <p>The most demanding test of the Triumph triple engines was at the hands of the riders, in the heat of battle. From the very first Grand Prix of the Triumph era in Qatar, in March 2019, the 765cc triple power revolutionised the Moto2™ class. A clean sweep of new records fell immediately, and in a thrilling first race the result was decided by a mere 0.026seconds. Moto2™ really had been reawakened.
  </p>
  <p></p>
  <p>By the end of the season, Triumph’s 765cc triple powerplants had delivered a flawless 60,000+ laps without missing a beat and completed more than 300,000km of flat out racing. Not only that, but alongside some of the closest racing the class has ever seen, Triumph powered Moto2™ to 16 new lap records including 12 outright best-ever circuit laps for the category, and 18 new fastest top speed from 19 races including the first ever 300+kmh top speed for a Moto2™ machine.

  </p>
  <p></p>
  
</div>

<div class="moto_tag" style="margin-bottom:2cm ;">
  <div class="moto_red_line"></div>
    <h1 style="position: relative;text-align: center;margin-top: -38px;font-size: 1.6cm;font-weight: bold;">THE DEBUT</h1>
</div>


<div class="test-1">
  
    
  <p></p>
  <p>November 19, 2018.  At the final MotoGP™ race weekend of 2018 in Valencia, Spain, Triumph Motorcycles presented alongside Externpro, Magneti Marelli and Dorna to announce the significant increase in peak power achieved by Triumph’s 2019 Moto2™ race engines.
  </p>
  <p></p>
  <p></p>
  
</div>


<div class="moto-card">
  <div class="row">
    <div class="col-md-6">
      <p style="padding:80px ;">After completing a multiple phase testing and development programme lasting nearly two years that focused on maximizing performance, durability and drivability, Triumph announced that the Moto2™ race-tuned engine would deliver a peak power figure in excess of 138 horsepower.
<br>
       </p>
    </div>
    <div class="col-md-6">

      <img src="/static/images/test-card.avif" style="width: 800px;">
      
     
    </div>
  </div>
  <div class="row" style="margin-top:3cm ;">
    <div class="col-md-6">
      <img src="/static/images/test-card1.avif" style="width: 800px;margin-left: 100px;height: 500px;">
      
    </div>
    <div class="col-md-6">
      <div style="padding-left:8cm;padding-top: 2cm;">
        
        <p >Testing and development was done in close collaboration with race partners Magneti Marelli (ECU development) and Externpro (chassis development), Dorna, IRTA, development riders and, of course, all the Moto2™ teams and riders.  Over 2,500 ‘race pace’ laps were then completed at a range of top European circuits.
          </p>
      
      </div>
    </div>
  </div>
</div>

<div class="test">
  <h4 style="font-weight:bold">
    ENGINE CONTROL UNIT TEST
  </h4>
  <p></p>
  <p>May 2018.  The next exciting stage of the 2019 Triumph Moto2™ Engine programme involved testing the first full Engine Control Unit as provided by Moto2™ ECU provider Magneti Marelli.
  </p>
  <p></p>

 
  <p></p>
  
</div>


<div class="card_c">
  <div class="row">
      <div class="col-md">
        <div class="card" style="width:28rem;height: 38rem;">
          <a href="{% url 'testing' %}" style="text-decoration: none; color:#070707">
          <img class="card-img-top" src="/static/images/test-d.avif" style="height:350px ;" alt="Card image cap">
          <div class="card-body">
            <div class="card-title">
              <h4>TRIPLE POWER</h4></div>
            <p class="card-text"  style="margin-top: -2cm;">Testing the limits on track at MotorLand Aragón in Spain, home of the 14th round of the 2019 FIM Moto2™ World Championship.</p>
            
          </div>
          </a>
        </div>
      </div>
      <div class="col-md">
        <div class="card" style="width:28rem;height: 38rem">
          <a href="{% url 'testing' %}" style="text-decoration: none; color:#070707">

          <img class="card-img-top" src="/static/images/test-c1.avif" style="height:350px ;"alt="Card image cap">
          <div class="card-body">
            <div class="card-title">
              <h4>FIRSTHAND</h4></div>
            <p class="card-text"  style="margin-top: -2cm;">Triumph test rider Julián Simón worked closely with engineers to provide invaluable data on the 2019 Moto2™ prototype engine.</p>
           

          </div>
          </a>
        </div>
      </div>
      <div class="col-md">
        <div class="card" style="width:28rem;height: 38rem">
          <a href="{% url 'testing' %}" style="text-decoration: none; color:#070707">

          <img class="card-img-top" src="/static/images/test-c2.avif" style="height:350px ;" alt="Card image cap">
          <div class="card-body">
          
              <div class="card-title">
                <h4>INNOVATIVE</h4></div>
            <p class="card-text" style="margin-top: -2cm;">The new ECU software was based on that used in MotoGP and introduced electronic ride-by-wire to Moto2™ for the first time.</p>
         
          </div>
          </a>
        </div>
      </div>
    </div>
  </div> 

  <div class="moto-card">
    <div class="row">
      <div class="col-md-6">
        <div style="padding-top:100px;padding-left: 200px;">
            <h3> STREET TRIPLE 765 </h3>
            <p>Powered by Moto2™ race engine evolution, for the highest performance, highest specification and most agile Street Triple line-up ever.
            </p>
            <a href="{% url 'view_bike_details' bike_name='STREET TRIPLE 765' %}" class="btn btn-dark" style="background-color: black; color: white;">DISCOVER MORE</a>

            <a href="{% url 'customize' %}"class="btn btn-dark" style="background-color: black; color: white;">CONFIGURE</a>
        </div>
        
      </div>
      <div class="col-md-6">
  
        <img src="/static/images/moto-card8.avif" style="width: 800px;">
        
       
      </div>
    </div>
    </div>
    <div class="foot" style="background-color: #dddad7;">
      <div class="sub" style="text-align: center; display: grid; justify-content: center;">
    
        <h3 >keep in touch</h3>
    
        <p>Submit your email address below and we'll keep you updated with new and relevant <br>Triumph motorcycle content directly to your inbox.</p>
    <div class="row" style="justify-content:center ;">
        <p style="text-align: center; flex-basis:100%; position: relative; left:-181px;">EMAIL</p>
        <form id="myForm">
        <input style="width: 11cm;height: 1cm;" type="email" id="email" name="email" placeholder="Enter the email address" required>
    </div>
    <div>
      <button class="rc_b" type="submit">KEEP ME INFORMED</button>

    </div>
    </form>
    </div>
    
    </div>
    <div class="black-section" style="width:100%; margin-bottom: 0; height: 500px; background-color: #0e0f0f;">
      <div class="e-icon">
        <a href="https://www.instagram.com/officialtriumph/?hl=en" style="text-decoration: none; color:#070707">
          <img src="/static/images/insta.webp"style="/*! position: initial; */position: relative;top: 200px;left: 600px;">
        <h4 style="color: white;position: relative;top: 210px;left: 570px;">instagram</h4>
        </a>
        <a href="https://www.facebook.com/OfficialTriumphUK/" style="text-decoration: none; color:#070707">

        <img src="/static/images/fb.png" style="/*! position: initial; */position: relative;top: 113px;left: 780px;">
        <h4 style="color: white;position: relative;top: 123px;left: 760px;">facebook</h4>
        </a>
      </div>
    </div>
{% endblock %}